<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header" data-background-color="purple">
				<h4 class="title">Add Drugs</h4>
				<p class="category">Add Drugs Using Formatted Excell</p>
			</div>
			<div class="card-content">
				<form class="w3-container">
					<div class="w3-row w3-section">
						<div class="w3-col m2">
							<button class="w3-btn w3-dark-grey">Choose File</button>
						</div>
						<div class="w3-rest">
							<p class="category" style="text-align: left">No file choosen</p>
						</div>
					</div>
					<div class="w3-row w3-section">
						<div class="w3-col" style="text-align: right">
							<button class="w3-btn w3-green">Upload</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header" data-background-color="purple">
				<h4 class="title">Add Drugs</h4>
				<p class="category">Add Drugs Manually</p>
			</div>
			<div class="card-content">
				<form class="w3-container">
					<div class="w3-row">
						<div class="w3-col w3-quarter text-prop">Drug Category</div>
						<div class="w3-rest">
							<select>
                <option>Drugs used in the treatment of diseases of the respiratory system</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                </select>
						</div>
					</div>

					<div class="space"></div>

					<div class="w3-row">
						<div class="w3-col w3-quarter text-prop">Drug Name</div>
						<div class="w3-rest">
							<select>
                <option>Pethidine hydrochloride Injection 50mg Ampoule</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                </select>
						</div>
					</div>

					<div class="space"></div>

					<div class="w3-row">
						<div class="w3-col w3-quarter text-prop">Drug Type</div>
						<div class="w3-rest">
							<select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                </select>
						</div>
					</div>

					<div class="w3-row w3-section">
						<div class="w3-col w3-quarter text-prop">Remarks</div>
						<div class="w3-rest">
							<input class="w3-input w3-border" name="qty" type="text" placeholder="Remarks">
						</div>
					</div>

					<div class="w3-row w3-section">
						<div class="w3-col w3-quarter text-prop">Price</div>
						<div class="w3-col w3-third">
							<input class="w3-input w3-border" name="qty" type="text" placeholder="Price">
						</div>
					</div>

					<div class="w3-row w3-section">
						<div class="w3-col w3-quarter text-prop">Danger Level</div>
						<div class="w3-col w3-third">
							<select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                </select>
						</div>
					</div>

					<div class="w3-row w3-section">
						<div class="w3-col w3-quarter text-prop">Reorder Level</div>
						<div class="w3-col w3-third">
							<select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                </select>
						</div>
					</div>

					<div class="w3-row w3-section">
						<div class="w3-col w3-quarter text-prop">Dosage</div>
						<div class="w3-col w3-third">
							<select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                </select>
						</div>
					</div>

					<div class="w3-row w3-section">
						<div class="w3-col w3-quarter text-prop">Frequency</div>
						<div class="w3-col w3-third">
							<select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                </select>
						</div>
					</div>


					<div class="w3-row w3-section">
						<div class="w3-col" style="text-align: right">
							<button class="w3-btn w3-green">Update</button>
						</div>
					</div>



				</form>

			</div>
		</div>
	</div>
</div>