<div class="sidebar" data-color="purple" data-image="/app/views/assets/img/sidebar-1.jpg">

    <div class="logo">
        <a href='/home'> <img src="/app/views/assets/img/logof.png" alt="logo" height="45" width="230"></a>
    </div>

    <div class="sidebar-wrapper">
        <ul class="nav" ng-controller="sidebarController">
            <li ng-class="{ active: isCurrentPath('/') }">
                <a href='#!/'>
                    <i class="material-icons">home</i>
                    <p>Home</p>
                </a>
            </li>
            <li ng-class="{ active: isCurrentPath('/add_drugs') }">
                <a href="#!/add_drugs">
                    <i class="material-icons">add_shopping_cart</i>
                    <p>Add Drugs</p>
                </a>
            </li>
            <li ng-class="{ active: isCurrentPath('/update_drugs') }">
                <a href="#!/update_drugs">
                    <i class="material-icons">update</i>
                    <p>Update Drugs</p>
                </a>
            </li>
            <li ng-class="{ active: isCurrentPath('/add_batch') }">
                <a href="#!/add_batch">
                    <i class="material-icons">library_add</i>
                    <p>Add New Batch</p>
                </a>
            </li>
            <li ng-class="{ active: isCurrentPath('/view_requests')}"}>
                <a href="#!/view_requests">
                    <i class="material-icons">remove_red_eye</i>
                    <p>View Requests</p>
                </a>
            </li>
            <li  ng-class="{ active: isCurrentPath('/reports') }"}>
                <a href="#!/reports">
                    <i class="material-icons text-gray">content_paste</i>
                    <p>Reports</p>
                </a>
            </li>
            <li ng-class="{ active: isCurrentPath('/add_supplier') }">
                <a href="#!/add_supplier">
                    <i class="material-icons">group_add</i>
                    <p>Add Supplier</p>
                </a>
            </li>
            <li ng-class="{ active: isCurrentPath('/user') }">
                <a href="#!/user">
                    <i class="material-icons">group</i>
                    <p>User</p>
                </a>
            </li>
        </ul>
    </div>
</div>